.menu {
	position: absolute;
	left : 0;
	top : 0;
	background-color: $primary-color;
	height: 100vh;
	z-index: 2;
	.menu-logo {
		margin: 10px auto 10px auto;
		display: block;
	}

	.menu-item {
		margin:20px;
	}

	.menu-list a i {
		margin : 0 10px 0 0;
	}

	input, select, textarea {
		background-color: $primary-color-darker;
		border-color: $primary-color-light;
		color : $primary-color-light;
		&::placeholder {
			color : $primary-color-light;
			opacity: 1;
		}
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			display: none;
		}
	}
	.menu-header {
		margin-bottom : 20px;
	}

	.menu-backbutton {
		margin-right:25px;

		&:hover { color : white }
	}

}

.menu.absolute {
	padding:10px 20px;
	position: absolute;
	left : 0;
	top : 0;
	z-index: 1;
}


