/*
 * ----------------------------------------------------------------------------
 * "THE BEER-WARE LICENSE" (Revision 42):
 * <HakunaMacouta> wrote this file.  As long as you retain this notice you
 * can do whatever you want with this stuff. If we meet some day, and you think
 * this stuff is worth it, you can buy me a beer in return.   Thomas Blanc
 * ----------------------------------------------------------------------------
 */

$primary-color : #1D1F20;
$primary-color-darker : #151617;
$primary-color-light: #505558;
$primary-color-lighter: #858d92;
$secondary-color : #F8F8F8;
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import "various";
@import "menu";
@import "thumbnail";
@import "details";
