/*
 * ----------------------------------------------------------------------------
 * "THE BEER-WARE LICENSE" (Revision 42):
 * <HakunaMacouta> wrote this file.  As long as you retain this notice you
 * can do whatever you want with this stuff. If we meet some day, and you think
 * this stuff is worth it, you can buy me a beer in return.   Thomas Blanc
 * ----------------------------------------------------------------------------
 */
@import url('https://fonts.googleapis.com/css?family=Poppins');

body, html {
	min-height: 100vh;
}

body {
	background: #1D1F20;
}

* {
	font-family: Poppins, sans-serif;
}
#container-movie-list {
	margin-top:25px;
}
#movie-list {
	margin-top:25px;
	flex-wrap : wrap;
}

#add-card {
	background: blue;
	/*padding:12px;*/
	margin: 12px;
}

@import "card";